@font-face {
    font-family: 'BankGothic-Bold';
    src: local('BankGothic-Bold'), /* Mencari font di sistem lokal */
    url('../font/BankGothic-Bold.ttf') format('truetype');}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../image/bg.png");
    color: white;
    text-align: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: BankGothic-Bold;
}
.container {
    display: flex;
    justify-content: center; /* Rata tengah secara horizontal */
    align-items: center;    /* Rata tengah secara vertikal */
    height: 100vh;          /* Pastikan kontainer memiliki tinggi */
}
.logo {
    width: 150px;
    margin-bottom: 20px;
}
.checkmark {
    width: 100px;
    margin-top: 20px;
}
.title {
    font-size: 24px;
    margin: 10px 0;
}
.message {
    font-size: 18px;
    margin: 10px 0;
}

button {
    background-image: linear-gradient(#BA1331, #240B35);
    font-family: BankGothic-Bold;
    font-style: unset;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;

    display: flex;justify-content: center;align-items: center
}

.absen{
    display: flex;
    margin-left: 33%;


}







a{
    all: unset;
}

.mbot {
    margin-bottom: 40px;
}

.sidebar {

    width: 250px;
    height: 100vh;
    background-image: linear-gradient(#cc0924, #2b2b2b);
    color: white;
    position: fixed;
    left: -250px; /* Menyembunyikan sidebar di luar layar */
    transition: left 0.3s;

}
.sidebar.active {
    left: 0; /* Menampilkan sidebar */
}
h2{
    all: unset;
    text-align: left;
    font-size: 50px;
    margin-left: 10px;
}
.sidebar a {
    border-bottom: solid;
    border-color: #670e0e;
    text-align: left;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.sidebar a:hover {
    background-color: #495057;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 0; /* Awalnya tidak ada margin */
    transition: margin-left 0.3s;
    background-color: #240B35;
}
.content.active {
    margin-left: 250px; /* Memberikan margin saat sidebar aktif */
}

.burger{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
}

.welcome{
    font-size: 20px;
    margin-bottom: 27px;
}



.form-container{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


image{
    align-content: center;
}
.form-container {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.form-container img {
    width: 190px;
    height: auto;
    margin-bottom: 30px;
}

input[type="text"],[type="password"]{

    font-family: 'BankGothic-Bold';
}

.judul h1 {
    margin: 0 0 20px;
    font-size: 26px;
    letter-spacing: 2px;
    font-family: 'BankGothic-Bold';
}
.mb-3 {
    margin-bottom: 20px;
}
.mb-3 input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: none;
    border-radius: 5px;
    background: #2c003e;
    color: white;
    font-size: 16px;

}


.mb-3 input::placeholder {

    color: #8a8a8a;

}
.mb-3 input:focus {
    outline: none;
    box-shadow: none;
}
.mb-3 .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}
.btn-primary {
    /*background-image: linear-gradient(#BA1331, #240B35);*/
    font-family: BankGothic-Bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(#BA1331, #240B35);
    font-size: 19px;
    cursor: pointer;
    transition: background 0.3s;
}
.btn-primary:hover {
    background-image: linear-gradient(#71081b, #1a0825);

}

.riwayat_nama {
    width: 10px;
}

.td_jam {
    width: 90px;
}

.status-alert {
    color: #efeceb;
    width: 284px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #1a0825;
    background-image: linear-gradient(#71081b, #1a0825);

    border-radius: 10px;
}

td {
    padding: 10px;
    border: white;
    border-collapse: collapse;
}

.riwayat_nama {
    width: 150px;
    padding: 10px;
    border: none;
    border-collapse: collapse;
}

.td_jam {
    width: 100px;
    padding: 10px;
    border: none;
    border-collapse: collapse;
}

.status-alert {
    padding: 10px;
    border: none;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: none;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #240B35;
    color: white;
    
}

td {
    background-color: #2c003e;
    color: white;
}

td:last-child {
    padding-right: 20px;
}

td:first-child {
    padding-left: 20px;
}



.tabel{
    margin: 10%;
}